body {
    background: #C0C78C;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}


/*index*/
.index-logo {
    text-align: center;
}
.index-navbar {
    text-align: center;
}
.index-navbar li {
    list-style-type: none;
}

.index-navbar a {
    text-decoration: none;
    color: inherit;        

}

/*Nav Menu*/

.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-button {
    background-color: #B99470;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-item a:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-item {
    display: block;
}


.dropdown:hover .dropdown-button {
    background-color: #A6B37D;
}

.dropdown li {
    list-style-type: none;
}

.dropdown li {
    padding: 10px 0;
}




/*JS Script remove button */
.remove {
    position: relative;
    background-color: red;
    background-size: cover;
    cursor: pointer;
    padding: auto;
}

/*Page Create Recipe */

.controls-area {
    text-align: center;
}

input[type="text"] {
    background-color: #FEFAE0;
}

input[type="number"] {
    background-color: #FEFAE0;
}

input[placeholder] {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;

}

textarea {
    background-color: #FEFAE0;
}

div {
    padding: 20px
}

#recipe-description {
    width: 350px;
    height: 100px;
}

#recipe-instructions {
    width: 600px;
    height: 300px
}