body {
    background: orange;
}



.remove {
    position: absolute;
    top: 5px;
    right:0;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;;
    background-size: cover;
    cursor: pointer;
}